<!DOCTYPE html>
<html lang="en" ng-app="mean-tut">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mean App Dev</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>



  <div class="container" ng-controller="meetupsController">
    <h1>There are {{meetups.length}} meetups.</h1>

    <ul>
      <li ng-repeat="meetup in meetups">
        {{meetup.name}}, {{meetup.date_time}}, {{meetup.location}}
      </li>
    </ul>

    <form ng-submit="createMeetup()">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Meetup Name" ng-model="meetupName">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Meetup Date" ng-model="meetupDate">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Meetup Location" ng-model="meetupLocation">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Meetup</button>
      </div>
    </form>

  </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-resource.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/controllers/meetups-controller.js"></script>

  </body>
</html>